@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap");

$fontfamily: Gotham_Book;
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 979;
// $md2: 767.98;
$md3: 767.98;
$md4: 539.98;

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "null.scss";

body {
  &.lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      position: fixed;
    }
  }
}
.wrapper {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &.loaded {
  }
}
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    $mw: 979;
    max-width: $mw + px;
  }
  @media (max-width: $md2+px) {
    $mw: 748;
    max-width: $mw + px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
  // @media (max-width: $md1+px) {
  //   max-width: 750px;
  // }
  // @media (max-width: $md2+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
}

@import "header.scss";

// Основной блок
.mainblock {
  flex: 1 1 auto;
  @include flexbox();
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__body {
    width: 100%;
  }

  &__content {
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 110px;
    @include tr(-50%, 0, 0);
    @media (max-height: 850px) {
      bottom: 40px;
    }
    @media (max-height: 600px) {
      bottom: 30px;
    }
  }
}
.content-body {
  text-align: center;
  &__title {
    color: #f5f5f5;
    font-family: Gotham;
    font-size: 153px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1.92px;
    @media (max-width: $md2+px) {
      font-size: 100px;
    }
    @media (max-width: $md3+px) {
      font-size: 90px;
    }
    @media (max-width: $md4+px), (max-height: 600px) {
      font-size: 45px;
    }
  }

  &__subtitle {
    color: #11749e;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 20.55px;
    padding: 0 0 0 22px;
    @media (max-width: $md2+px) {
      font-size: 16px;
      letter-spacing: 13.45px;
      padding: 0 0 0 15px;
    }
    @media (max-width: $md3+px) {
      font-size: 13.5px;
      letter-spacing: 12.7px;
      padding: 0 0 0 13px;
    }
    @media (max-width: $md4+px), (max-height: 600px) {
      font-size: 7.5px;
      letter-spacing: 5.3px;
      padding: 0 0 0 6.5px;
    }
  }
}
.footer-body {
  text-align: center;
  &__link {
    color: white;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    margin: 0 0 20px 0;
    @media (max-width: $md2+px) {
      margin: 0 0 15px 0;
    }
    @media (max-height: 600px) {
      margin: 0 0 5px 0;
    }
  }

  &__btn {
    color: #f5f5f5;
    display: block;
    margin: 0 auto;
    width: 65px;
    height: 65px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    // background-color: #808080;
    @include flexbox();
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @media (max-width: $md3+px) {
      width: 45px;
      height: 45px;
    }
    @media (max-height: 600px) {
      width: 35px;
      height: 35px;
    }
    &:before {
      position: relative;
      animation: arrow 1.5s infinite ease;
      @media (max-height: 600px) {
        animation: none;
      }
    }
  }
}
@keyframes arrow {
  0% {
    top: -3px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: -3px;
  }
}
// =============================================================
.content {
  position: relative;
}
// =============================================================

.awesome {
  background-color: #11749e;
  color: white;
  padding: 100px 0 70px;
  @media (max-width: $md2+px) {
    padding: 80px 0 50px;
  }
  @media (max-width: $md3+px) {
    padding: 40px 0 20px;
  }
  @media (max-width: $md4+px) {
    padding: 20px 0 0px;
  }

  &__body {
  }

  &__header {
    margin: 0 0 65px 0;
    @media (max-width: $md2+px) {
      margin: 0 0 35px 0;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 15px 0;
    }
  }

  &__items {
    @include flexbox();
    margin: 0 -20px;
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
      margin: 0 -10px;
    }
  }

  &__column {
    flex: 0 0 (100%/4);
    @media (max-width: $md2+px) {
      flex: 0 0 (100%/2);
    }
    @media (max-width: $md3+px) {
      flex: 0 0 (100%/1);
    }
  }

  &__item {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 55px 0;
    padding: 0 20px;
    @media (max-width: $md2+px) {
      margin: 0 0 20px 0;
      padding: 0 10px;
    }
  }
}
.block-header {
  position: relative;
  &__bg {
    opacity: 0.18;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 247px;
    line-height: 180px;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $md3+px) {
      font-size: 197px;
    }
    @media (max-width: $md4+px) {
      font-size: 167px;
    }
  }

  &__titleblock {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include flexbox();
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-family: Gotham;
    font-size: 38px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    @media (max-width: $md2+px) {
      font-size: 28px;
    }
    @media (max-width: $md4+px) {
      line-height: 25px;
      font-size: 16px;
    }
  }
}
.item-awesome {
  // height: 100%;
  &__logo {
    display: inline-block;
    width: 133px;
    height: 133px;
    background-color: #2e85aa;
    border-radius: 50%;
    @include flexbox();
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    @media (max-width: $md3+px) {
      width: 103px;
      height: 103px;
      margin: 0 0 10px 0;
      img {
        @include scale(0.9);
      }
    }
    @media (max-width: $md4+px) {
      width: 73px;
      height: 73px;
      margin: 0 0 10px 0;
      img {
        @include scale(0.7);
      }
    }
  }

  &__title {
    color: #ffffff;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 5px 0;
      font-size: 17px;
    }
  }

  &__text {
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    @media (max-width: $md4+px) {
      font-size: 14px;
    }
  }
}
// =============================================================
.akita {
  &__row {
    @include flexbox();
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 (100%/2);
    @media (max-width: $md2+px) {
      flex: 0 0 (100%/1);
    }
  }
}
.item-akita {
  &--dg {
    background-color: #222222;
  }
  &--lg {
    background-color: #f3f3f3;
  }
  &__block {
    padding: 105px 10px 10px 80px;
    @media (max-width: $md2+px) {
      padding: 70px 10px 10px 40px;
    }
    @media (max-width: $md3+px) {
      padding: 20px 10px 10px 10px;
    }
  }

  &__image {
    padding: 0 0 59.2% 0;
    height: 100%;
  }
  @media (max-width: $md2+px) {
    &:nth-child(3) {
      order: 4;
    }
    &:nth-child(4) {
      order: 3;
    }
  }
}
.block-item {
  &--left {
    padding-left: calc((100vw - #{$mw}px) / 2);

    @media (max-width: $md1+px) {
      padding-left: calc((100vw - 979px) / 2 + 10px);
    }
    @media (max-width: $md2+px) {
      padding-left: 40px;
    }
    @media (max-width: $md3+px) {
    }
  }
  &--w {
    color: #ffffff;
  }
  &--g {
    color: #222222;
  }
  &__details {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    margin: 0 0 5px 0;
    @media (max-width: $md4+px) {
      font-size: 11px;
    }
  }

  &__title {
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    @media (max-width: $md4+px) {
      font-size: 22px;
      margin: 0 0 10px 0;
    }
  }

  &__text {
    max-width: 469px;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    @media (max-width: $md4+px) {
      font-size: 14px;
    }
    p {
      margin: 0 0 30px 0;
      @media (max-width: $md4+px) {
        margin: 0 0 15px 0;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}
// =============================================================
.blog {
  &__body {
    padding: 92px 0 70px;
    @media (max-width: $md2+px) {
      padding: 77px 0 60px;
    }
    @media (max-width: $md3+px) {
      padding: 57px 0 40px;
    }
    @media (max-width: $md4+px) {
      padding: 20px 0 10px;
    }
  }

  &__header {
    margin: 0 0 40px 0;
    @media (max-width: $md3+px) {
      margin: 0 0 30px 0;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 5px 0;
    }
  }

  &__title {
    margin: 0 0 75px 0;
    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
    @media (max-width: $md3+px) {
      margin: 0 0 25px 0;
    }
  }

  &__row {
    @include flexbox();
    margin: 0 -15px;
    @media (max-width: $md1+px) {
      margin: 0 -10px;
    }
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
    @media (max-width: $md3+px) {
      margin: 0 -5px;
    }
  }

  &__column {
    flex: 1 1 (100%/4);
    padding: 0 15px;
    margin: 0 0 40px 0;
    @media (max-width: $md1+px) {
      padding: 0 10px;
    }
    @media (max-width: $md2+px) {
      flex: 1 1 (100%/2);
    }
    @media (max-width: $md3+px) {
      padding: 0 5px;
    }
    @media (max-width: $md4+px) {
      flex: 1 1 (100%/1);
      margin: 0 0 20px 0;
    }
  }

  &__item {
    @include flexbox();
    flex-direction: column;
  }
}
.block-title {
  color: #222222;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  @media (max-width: $md3+px) {
    font-size: 27px;
    line-height: 33px;
  }
  @media (max-width: $md4+px) {
    font-size: 20px;
    line-height: 23px;
  }
}
.item-blog {
  &__image {
    padding: 0 0 103.7% 0;
    margin: 0 0 45px 0;
    @media (max-width: $md1+px) {
      margin: 0 0 35px 0;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 15px 0;
      order: 4;
    }
  }

  &__title {
    color: #11749e;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    @media (max-width: $md1+px) {
      font-size: 16px;
      line-height: 25px;
      margin: 0 0 10px 0;
    }
  }

  &__text {
    color: #222222;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    @media (max-width: $md1+px) {
      line-height: 22px;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 10px 0;
    }
  }
}
// =============================================================
.cites {
  padding: 110px 0 85px;
  background-color: #11749e;
  @media (max-width: $md3+px) {
    padding: 50px 0 35px;
  }
  @media (max-width: $md4+px) {
    padding: 40px 0 35px;
  }
  &__row {
    @include flexbox();
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 0 0 (100%/2);
    margin: 0 0 60px 0;
    &:last-child {
      margin: 0 0 0 30px;
      @media (max-width: $md3+px) {
        margin: 0px;
      }
    }
    @media (max-width: $md2+px) {
      margin: 0 0 30px 0;
    }
    @media (max-width: $md3+px) {
      flex: 0 0 (100%/1);
    }
  }

  &__item {
    @include flexbox();
  }
}
.item-cites {
  &__img {
    display: inline-block;
    img {
      width: 69px;
      height: 69px;
      @media (max-width: $md3+px) {
        width: 42px;
        height: 42px;
      }
      @media (max-width: $md4+px) {
        width: 22px;
        height: 22px;
      }
    }
    margin: 0 34px 0 0;
    @media (max-width: $md3+px) {
      margin: 0 20px 0 0;
    }
    @media (max-width: $md4+px) {
      margin: 0 10px 0 0;
    }
  }

  &__text {
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    @media (max-width: $md4+px) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}
//--------------------------------------------------------
.features {
  position: relative;
  padding: 125px 0 95px 0;
  @media (max-width: $md2+px) {
    padding: 105px 0 85px 0;
  }
  @media (max-width: $md3+px) {
    padding: 5px 0 45px 0;
  }
  @media (max-width: $md3+px) {
    padding: 35px 0 20px 0;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__row {
    @include flexbox();
  }

  &__column {
    flex: 0 0 (100%/2);
    @include flexbox();
    align-items: center;
    @media (max-width: $md4+px) {
      flex: 0 0 (100%/1);
    }
    &:last-child {
      justify-content: center;
      @media (max-width: $md4+px) {
        display: none;
      }
    }
  }

  &__body {
    @include flexbox();
    flex-direction: column;
  }

  &__image {
    img {
      width: 390px;
      height: 651px;
      @media (max-width: $md3+px) {
        @include scale(0.5);
      }
    }
  }
}
.body-features {
  &__title {
    color: #ffffff;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    @media (max-width: $md3+px) {
      font-size: 22px;
      line-height: 22px;
      margin: 0 0 40px 0;
    }
    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 20px 0;
    }
  }

  &__text {
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    max-width: 469px;
    margin: 0 0 80px 0;
    @media (max-width: $md3+px) {
      font-size: 14px;
      line-height: 21px;
      margin: 0 0 40px 0;
    }
  }

  &__btn {
    color: #ffffff;
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    @media (max-width: $md3+px) {
      font-size: 13px;
      margin: 0 0 20px 0;
    }
  }
}
.bluebtn {
  display: inline-block;
  height: 38px;
  background-color: #11749e;
  padding: 12px 20px 14px;
  @media (max-width: $md3+px) {
    padding: 12px 15px 8px !important ;
  }
  &--1 {
    padding-right: 135px;
    @media (max-width: $md2+px) {
      padding-right: 35px;
    }
  }
  &--2 {
    padding-right: 219px;
    @media (max-width: $md2+px) {
      padding-right: 119px;
    }
  }
  &--3 {
    padding-right: 159px;
    @media (max-width: $md2+px) {
      padding-right: 64px;
    }
  }
}

// Конец основного блока
@import "footer.scss";
//
.ibg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  &:focus {
  }
  &.err {
    //
    border-color: red;
    //
  }
}
textarea.input {
  resize: none;
}
.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 33px;
  font-size: 19px;
  // font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: black;
  color: white !important;
  &--w {
    background-color: white;
    color: black !important;
  }
}
